@model List<Author>
<div class="col-12 grid-margin stretch-card">
    @foreach (var author in Model)
    {
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazarın Hakkında <i class="mdi  mdi-account"></i></h4>
                
                
                <div class="d-flex mt-5 align-items-top">
                    <img src="~/WriterImageFiles/@author.AuthorImage" class="img-sm rounded-circle mr-3" alt="image">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">@author.AutorName - @author.Mail</h5>
                        <p class="mb-0 font-weight-light">@author.AuthorAbout</p>
                    </div>
                    <div class="ml-auto">
                        <i class="mdi mdi-heart-outline text-muted"></i>
                    </div>

                </div>
            </div>
        </div>
    }

</div>